@{
    ViewData["Title"] = "Home Page";
}

<div welcome-page>
    <div>
        <h2>Welcome to Sydney's IMS!</h2>
    </div>
    <div>
        <h3>This is a basic CRUD application for maintaining Sydney's inventory</h3>
        <h3>Enjoy!</h3>
    </div>
</div>